---
import { Image } from 'astro:assets';

import { iceColdImage1, iceColdImage2, iceColdImage3, iceColdImage4, iceColdImage5, iceColdImage6, iceColdImage7, iceColdImage8 } from '../images';

import TryFont from '../components/TryFont';
---

<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta
        name="csrf-param"
        content="authenticity_token"
      />
      <meta
        name="csrf-token"
        content="Nnujwi1IS-4jWSWci01Am1hpuih0zC4xWmXoSyM0FiPTbxBLXxpM9Hn5-f7RVF_6WbLpwI54pYjqDHJP-h0zNA"
      />
      <meta content="149071038533330" property="fb:app_id" />
      <meta content="http://www.facebook.com/gumroad" property="fb:page_id" />
      <meta property="twitter:site" content="@gumroad" />
      <meta content="Gumroad" property="og:site_name" />
      <meta content="https://lucashowlett.gumroad.com/l/IceColdTypeface" property="og:url" />
      <meta content="Introducing Ice Cold Typeface What's cooler than being cool? Ice Cold! Experience the vintage charm and modern design of a timeless font that we've all seen before. Ice Cold is inspired by the classic lettering found on convenience store and gas station ice machines made by Leer that can be found around North America. Each character showcases a one-of-a-kind snow cap design to make your designs and sentences as unique as a snow angel.Ice Cold Typeface offers versatility in every stroke. Whether you opt for the full colour or solid style, this font adds a touch of vintage and winter elegance to your projects. As demand grows, I'm committed to expanding its character set, exploring additional characters or even a lowercase option. The foundation is handmade and influenced by Helvetica for this version. Dive into the frosty world of Ice Cold, where the magic of vintage aesthetics meets the precision of modern design." property="og:description" />
      <meta content="Introducing Ice Cold Typeface What's cooler than being cool? Ice Cold! Experience the vintage charm and modern design of a timeless font that we've all seen before. Ice Cold is inspired by the classic lettering found on convenience store and gas station ice machines made by Leer that can be found around North America. Each character showcases a one-of-a-kind snow cap design to make your designs and sentences as unique as a snow angel.Ice Cold Typeface offers versatility in every stroke. Whether you opt for the full colour or solid style, this font adds a touch of vintage and winter elegance to your projects. As demand grows, I'm committed to expanding its character set, exploring additional characters or even a lowercase option. The foundation is handmade and influenced by Helvetica for this version. Dive into the frosty world of Ice Cold, where the magic of vintage aesthetics meets the precision of modern design." name="description" />
      <meta content="cgqhkf" property="product:retailer_item_id" />
      <meta content="12.0" property="product:price:amount" />
      <meta content="CAD" property="product:price:currency" />
      <meta content="gumroad:product" property="og:type" />
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:title" content="Ice Cold Typeface " />
      <meta property="twitter:domain" content="Gumroad" />
      <meta property="twitter:description" content="Introducing Ice Cold Typeface What's cooler than being cool? Ice Cold! Experience the vintage charm and modern design of a timeless font that we've all seen before. Ice Cold is inspired by the classic lettering found on convenience store and gas station ice machines made by Leer that can be found around North America. Each character showcases a one-of-a-kind snow cap design to make your designs and sentences as unique as a snow angel." />
      <meta property="twitter:creator" content="@LucasHowlett" />
      <meta property="twitter:image" content="https://public-files.gumroad.com/2p0b97y8naffjpe1csva21duepag" />
      <link href="https://public-files.gumroad.com/fmo11grttbyvo3rnvfvdhmo0ltbf" rel="shortcut icon" />
			<!-- <link rel="stylesheet" href="/styles/global.css" /> -->
      <link
        href="https://assets.gumroad.com/packs/css/design-5fe6f8a4.css"
        rel="stylesheet"
      />
			<style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);:root{--accent: 255 144 232;--contrast-accent: 0 0 0;--font-family: "Inter", "Mabry Pro", sans-serif;--color: 0 0 0;--primary: var(--color);--contrast-primary: 255 255 255;--filled: 255 255 255;--contrast-filled: var(--color);--body-bg: #ffffff;--active-bg: rgb(var(--color) / var(--gray-1));--border-alpha: 1}body{background-color:#ffffff;color:#000;font-family:"Inter", "Mabry Pro", sans-serif}</style>
 
  </head>
  <body class="mac" id="product_page">
    <div id="design-settings" data-settings='{"font":{"name":"Mabry Pro","url":"https://assets.gumroad.com/assets/mabry-regular-pro-2987dea5e28da4cf6ec452e081243d69aa29503e7f870eddabcb2225dac42343.woff2"}}' style="display: none;"></div>
    <div id="user-agent-info" data-settings='{"is_mobile":false}' style="display: none;"></div>
    <div class="flash-message js-flash-message" style="position: fixed; left: 0; top: 0; transform: translateY(-100%); transition: all 0.3s ease-out 0.5s; z-index: var(--z-index-tooltip); right: 0; padding: var(--spacer-4); display: flex; justify-content: center; visibility: hidden; pointer-events: none">
      <div class="message bg-filled js-message" role="alert" data-status="success" style="pointer-events: auto"></div>
    </div>
    <noscript>
      <div id="javascript-notice">
        <strong>JavaScript is required to buy this product.</strong>
        Enable JavaScript in your browser settings and refresh this page to continue.
      </div>
    </noscript>
    <div id="ProductPage-react-component-bf06ed83-25b5-49c1-9fde-31edff8d1e24" class="react-entry-point" style="display: contents;">
      <main class="custom-sections">
        <section>
          <article class="product">
            <figure class="carousel" aria-label="Product preview">
              <button class="arrow next" aria-label="Show next cover"></button>
              <div class="items">
                <div role="tabpanel" id="fcd32fc4d9b2714139ea48e14bc8ef63">
									<Image src={iceColdImage1} alt="Ice Cold Typeface Cover 1" />
								</div>
                <div role="tabpanel" id="c0628e1ad8009af9da80cd883d1dd4ca">
										<Image src={iceColdImage2} alt="Ice Cold Typeface Cover 2" />
								</div>
                <div role="tabpanel" id="410098d3e4eb04d6687a57382127fa21">
										<Image src={iceColdImage3} alt="Ice Cold Typeface Cover 3" />
								</div>
                <div role="tabpanel" id="b9ae22a8d5d1d1370b6a74ce21f7ec2c">
										<Image src={iceColdImage4} alt="Ice Cold Typeface Cover 4" />
								</div>
                <div role="tabpanel" id="4183203ae09ac3ef1358bb6a1403b297">
										<Image src={iceColdImage5} alt="Ice Cold Typeface Cover 5" />
								</div>
                <div role="tabpanel" id="49183137a419340112134dab562f342f">
										<Image src={iceColdImage6} alt="Ice Cold Typeface Cover 6" />
								</div>
                <div role="tabpanel" id="bc1ec02860d85e3d0e8494b0b8bdab27">
										<Image src={iceColdImage7} alt="Ice Cold Typeface Cover 7" />
								</div>
                <div role="tabpanel" id="f679eb5bfee81ce1af7f8a8959b1dd2a">
										<Image src={iceColdImage8} alt="Ice Cold Typeface Cover 8" />
								</div>
              </div>
              <div role="tablist" aria-label="Select a cover">
                <div role="tab" aria-label="Show cover 1" aria-selected="true" aria-controls="fcd32fc4d9b2714139ea48e14bc8ef63"></div>
                <div role="tab" aria-label="Show cover 2" aria-selected="false" aria-controls="c0628e1ad8009af9da80cd883d1dd4ca"></div>
                <div role="tab" aria-label="Show cover 3" aria-selected="false" aria-controls="410098d3e4eb04d6687a57382127fa21"></div>
                <div role="tab" aria-label="Show cover 4" aria-selected="false" aria-controls="b9ae22a8d5d1d1370b6a74ce21f7ec2c"></div>
                <div role="tab" aria-label="Show cover 5" aria-selected="false" aria-controls="4183203ae09ac3ef1358bb6a1403b297"></div>
                <div role="tab" aria-label="Show cover 6" aria-selected="false" aria-controls="49183137a419340112134dab562f342f"></div>
                <div role="tab" aria-label="Show cover 7" aria-selected="false" aria-controls="bc1ec02860d85e3d0e8494b0b8bdab27"></div>
                <div role="tab" aria-label="Show cover 8" aria-selected="false" aria-controls="f679eb5bfee81ce1af7f8a8959b1dd2a"></div>
              </div>
            </figure>
            <section>
              <header>
								<h1 
								style="font-size: 2.5rem; line-height: 1.2; --line-height: 3rem; font-weight: normal;"
								itemprop="name">
								Ice Cold Typeface
							</h1>
              </header>
              <section class="details">
                <div style="display: flex; align-items: center; gap: var(--spacer-2); flex-wrap: wrap;">
                  <a href="https://lucashowlett.gumroad.com/" target="_blank" class="user" style="position: relative;" rel="noreferrer">
                    <img class="user-avatar" src="https://public-files.gumroad.com/fmo11grttbyvo3rnvfvdhmo0ltbf" />
                    Lucas Howlett
                  </a>
                </div>
                <div class="rating">
                  <span class="icon icon-outline-star"></span>
                  <span class="icon icon-outline-star"></span>
                  <span class="icon icon-outline-star"></span>
                  <span class="icon icon-outline-star"></span>
                  <span class="icon icon-outline-star"></span>
                  <span class="rating-number">0 ratings</span>
                </div>
              </section>
              <section>
                <div class="rich-text">
                  <p>
                    <strong>Introducing Ice Cold Typeface </strong>
                  </p>
                  <p>
                    What's cooler than being cool? Ice Cold! Experience the vintage charm and modern design of a timeless font that we've all seen before. Ice Cold is inspired by the classic lettering found on convenience store and gas station ice machines made by Leer that can be found around North America. Each character showcases a one-of-a-kind snow cap design to make your designs and sentences as unique as a snow angel.
                  </p>
                  <p>
                    Ice Cold Typeface offers versatility in every stroke. Whether you opt for the full colour or solid style, this font adds a touch of vintage and winter elegance to your projects. As demand grows, I'm committed to expanding its character set, exploring additional characters or even a lowercase option. The foundation is handmade and influenced by Helvetica for this version. Dive into the frosty world of Ice Cold, where the magic of vintage aesthetics meets the precision of modern design.
                  </p>
                </div>
              </section>
		
              <section>
                <div>
									<TryFont client:load/>	
                </div>
              </section>

            </section>
						
            <section>
              <section>
                <div class="radio-buttons" role="radiogroup" itemprop="offers" itemtype="https://schema.org/AggregateOffer" itemscope="">
                  <button class="button" type="button" role="radio" aria-checked="true" aria-label="Desktop Commercial License" itemprop="offer" itemtype="https://schema.org/Offer" itemscope="">
                    <div class="pill">
                      CAD$12<!-- -->+
                      <div itemprop="price" hidden="">12</div>
                      <div itemprop="priceCurrency" hidden="">cad</div>
                    </div>
                    <div>
                      <h4>Desktop Commercial License</h4>
                      <div>For one user, all projects, no restrictions.</div>
                    </div>
                  </button>
                  <button class="button" type="button" role="radio" aria-checked="false" aria-label="Commercial Use License" itemprop="offer" itemtype="https://schema.org/Offer" itemscope="">
                    <div class="pill">
                      CAD$37<!-- -->+
                      <div itemprop="price" hidden="">37</div>
                      <div itemprop="priceCurrency" hidden="">cad</div>
                    </div>
                    <div>
                      <h4>Commercial Use License</h4>
                      <div>For businesses and individuals. Commercial projects.</div>
                    </div>
                  </button>
                  <button class="button" type="button" role="radio" aria-checked="false" aria-label="Extended License" itemprop="offer" itemtype="https://schema.org/Offer" itemscope="">
                    <div class="pill">
                      CAD$97<!-- -->+
                      <div itemprop="price" hidden="">97</div>
                      <div itemprop="priceCurrency" hidden="">cad</div>
                    </div>
                    <div>
                      <h4>Extended License</h4>
                      <div>For digital products, big audiences.</div>
                    </div>
                  </button>
                  <button class="button" type="button" role="radio" aria-checked="false" aria-label="Unlimited or Corporate License" itemprop="offer" itemtype="https://schema.org/Offer" itemscope="">
                    <div class="pill">
                      CAD$347<!-- -->+
                      <div itemprop="price" hidden="">347</div>
                      <div itemprop="priceCurrency" hidden="">cad</div>
                    </div>
                    <div>
                      <h4>Unlimited or Corporate License</h4>
                      <div>For big businesses. Unlimited projects.</div>
                    </div>
                  </button>
                  <div itemprop="offerCount" hidden="">4</div>
                  <div itemprop="lowPrice" hidden="">12</div>
                  <div itemprop="priceCurrency" hidden="">cad</div>
                </div>
                <fieldset class="">
                  <legend>
                    <label for=":Rb6p5:">Name a fair price:</label>
                  </legend>
                  <div class="input">
                    <div class="pill">CAD$</div>
                    <input type="text" inputmode="decimal" id=":Rb6p5:" maxlength="10" placeholder="12+" autocomplete="off" aria-invalid="false" aria-label="Price" data-content="12" />
                  </div>
                </fieldset>
                <a class="accent button" target="_top" href="https://app.gumroad.com/checkout?product=cgqhkf&amp;option=tAqg_EsVqq60a6lpZsGF7Q%3D%3D&amp;quantity=1" style="align-items:unset">I want this!</a>
                <div class="stack">
                  <p>Ice Cold Typeface: Where the nostalgia of ice machines meets contemporary design finesse, with two style – Colour and Solid</p>
                  <div>
                    <h5>Styles</h5>
                    <div>Colour, Solid</div>
                  </div>
                  <div>
                    <h5>Formats</h5>
                    <div>OTF</div>
                  </div>
                  <div>
                    <h5>Glyph Count</h5>
                    <div>65 Per Style</div>
                  </div>
                  <div>
                    <h5>Version</h5>
                    <div>1.0</div>
                  </div>
                </div>
                <div style="display: grid; gap: var(--spacer-2); grid-template-columns: 1fr auto;">
                  <div class="combobox">
                    <div role="combobox" aria-expanded="false" aria-controls=":R5qp5:" tabindex="0" class="input" aria-label="Add to wishlist">
                      <span class="fake-input text-singleline">Add to wishlist</span>
                      <span class="icon icon-outline-cheveron-down"></span>
                    </div>
                    <div hidden="">
                      <datalist id=":R5qp5:">
                        <div role="option" id=":R5qp5:-0" class="">
                          <div>
                            <span class="icon icon-plus"></span> New wishlist
                          </div>
                        </div>
                      </datalist>
                    </div>
                  </div>
                  <span class="has-tooltip">
                    <span aria-describedby=":R9qp5:" style="display: contents;">
                      <span style="display: contents;">
                        <button class="button" type="button" aria-label="Copy product URL">
                          <span class="icon icon-link"></span>
                        </button>
                      </span>
                    </span>
                    <span role="tooltip" id=":R9qp5:">Copy product URL</span>
                  </span>
                </div>
              </section>
            </section>
          </article>
        </section>
        <section aria-label="Product information bar" style="overflow: hidden; padding: 0; border: none; height: 0; transition: var(--transition-duration); flex-shrink: 0; order: -1; position: sticky; top: 0; z-index: var(--z-index-menubar);">
          <div class="product-cta" style="transition: var(--transition-duration); margin-top: 0;">
            <div itemscope="" itemprop="offers" itemtype="https://schema.org/Offer" style="display: flex; align-items: center;">
              <div class="has-tooltip right" aria-describedby=":Rp:">
                <div class="price" itemprop="price" data-content="12">CAD$12<!-- -->+</div>
                <div role="tooltip" id=":Rp:">CAD$12<!-- -->+</div>
              </div>
              <link itemprop="url" href="https://lucashowlett.gumroad.com/l/IceColdTypeface" />
              <div itemprop="availability" hidden="">https://schema.org/InStock</div>
              <div itemprop="priceCurrency" hidden="">cad</div>
              <div itemprop="seller" itemtype="https://schema.org/Person" hidden="">
                <div itemprop="name" hidden="">Lucas Howlett</div>
              </div>
            </div>
            <h3>Ice Cold Typeface </h3>
            <div class="rating">
              <span class="icon icon-outline-star"></span>
              <span class="icon icon-outline-star"></span>
              <span class="icon icon-outline-star"></span>
              <span class="icon icon-outline-star"></span>
              <span class="icon icon-outline-star"></span>
              <span class="rating-number">0 ratings</span>
            </div>
            <a class="accent button" target="_top" href="https://app.gumroad.com/checkout?product=cgqhkf&amp;option=tAqg_EsVqq60a6lpZsGF7Q%3D%3D&amp;quantity=1" style="align-items: unset;">I want this!</a>
          </div>
        </section>
        <footer>Powered by <span class="logo-full"></span></footer>
      </main>
    </div>
  </body>
</html>
